html {
    background: black;
}

.컨테이너 {
    background: ivory;
    display: inline-block;
}

.item{

}

.item1{
    background: crimson;
}

.item2{
    background: darkorange;
}


div {
    width: 80px;
    height: 80px;
    margin: 20px;
    background: pink;
    opacity: 0.5;
}

div:hover {
    background: red;
}
